@mixin flex {
    display: flex;
    flex-direction: column;
    margin: 35px 40px;
    text-align: center;
    font-size: 16px;
    color: $verdeOscuro;
    font-weight: 500;
}

.containerFormulario {
    display: flex;
    width: 100%;
    min-height: 82vh;
    justify-content: center;
    align-items: center;
}

.formularioCreacion {
    min-height: 85vh;
    width: 450px;
}

.country_of_origin {
    @include flex;
    position: relative;
    overflow: hidden;
}

.divInp {
    @include flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.error::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: red;
    animation: entradaError ease-in 1s;
}

@keyframes entradaError {
    0% {
        left: -100%;
    }

    100% {
        left: 0;
    }
}

.divInp input {
    border: none;
    border: 1px solid $verdeClaroMedio;
    padding: 5px 10px;
    border-radius: 5px;
}

.divInp input:focus {
    outline: none;
}

.divInp input::placeholder {
    text-transform: uppercase;
    color: $verdeOscuro;
}

.country_of_origin select {
    border: 1px solid $verdeClaroMedio;
    padding: 5px 10px;
    border-radius: 5px;
}

.country_of_origin select {
    margin-top: 5px;
    text-transform: uppercase;
}

.country_of_origin select:focus {
    outline: none;
}

.terms_and_conditions {
    margin: 8px 40px;
    text-align: center;
}

.Enviar {
    padding: 5px 10px;
    border: 1px solid red;
}